page-login {
.logo {
  background-color: #fff;
  box-shadow: 1px 3px 6px #eee;
  text-align: center;
  border-radius: 20%;
  height: 100px;
  width: 100px;
  margin: auto;
  color: #999;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    border-radius: 50%;
  }
}

ion-card {
  ion-row {
    padding: 20px
  }
}
}